@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	line-height: 1.6;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
}
a {
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
a:hover {
	outline: none;
	text-decoration: none;
}
.wrapper {
	padding-top: 300px;
}
.wrapper-heding {
	font-size: 64px;
	font-weight: 700;
	text-align: center;
	line-height: 1.5;
	color: #000;
}
.container-mini {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}


.loader-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999;
  top: 0;
	left: 0;
	background: rgb(255, 109, 110);
	background: linear-gradient(90deg, rgba(255,181,112,1) 0%, rgba(255,109,110,1) 100%);
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.loader-wrapper.loaded {
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	opacity: 0;
	visibility: hidden;
}
.loader-inner {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 500;
	font-size: 18px;
}
.loader-inner img {
    height: 50px;
    margin-bottom: 13px;
}
.loader-inner p {
	font-size: 16px
}

.wow {
	opacity: 0
}
.wow.show {
	opacity: 1
}


/*== == hero-wrapper-style == == */
.hero-wrapper {
	max-width: 1800px;
	width: 100%;
	margin: 0 auto;
	padding-top: 40px;
	position: relative;
	z-index: 1;
}
.hero-wrapper::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	right: -70px;
	z-index: -1;
	pointer-events: none;
	background-image: url(../img/hero-shape.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top right;
}

.hero-poygon {
	margin-bottom: 40px;
	margin-left: -70px;
}
.hero-context h2 {
	font-size: 100px;
	font-weight: 600;
}
.hero-context h2 span {
	color: #8b8b8b;
	font-weight: 700;
}
.hero-context p {
	font-size: 29px;
	max-width: 600px;
	margin-top: 65px;
}
.hero-context .minilab-btn {
	margin-top: 60px;
}
.minilab-btn {
	display: inline-block;
	font-size: 22px;
	color: #fff;
	padding: 22px 75px;
	font-weight: 500;
	background: rgb(255, 109, 110);
	background: linear-gradient(90deg, rgba(255,181,112,1) 0%, rgba(255,109,110,1) 100%);
}
.minilab-btn:hover {
	color: #fff;
	-webkit-background-size: 200%;
	background-size: 200%;
}

.hero-img img {
	border-radius: 50px;
}


/*== == header-style == == */
header {
	padding: 90px 0;
	position: relative;
	z-index: 99;
}
header .logo img {
  height: auto;
  width: 185px;
}
.menu-wrap ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: right;
}
.menu-wrap ul li {
  display: inline-block;
}
.menu-wrap ul li a {
  font-size: 22px;
  margin-right: 60px;
  color: #fff;
  font-weight: 500;
}
.menu-wrap ul li a.active {
	color: #000;
	font-weight: 600;
}
.menu-wrap ul li a:hover {
  color: #000;
}

.close-menu,
.menu-open {
	display: none;
}

.search-open {
	cursor: pointer;
	width: 40px;
}
.search-form {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	background-color: rgba(255, 225, 225, 0.9);
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	z-index: 9999;
}
.search-form.show-search{
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.search-form input {
	height: 70px;
	width: 700px;
	padding: 0 40px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	font-size: 24px;
	border: 1px solid #ffa1a1;
}
.search-form button {
	height: 70px;
	width: 120px;
	border: 0;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	position: relative;
	top: -3px;
	left: -4px;
	background: rgb(255, 109, 110); 
	background: linear-gradient(140deg, rgba(255,109,110,1) 0%, rgba(255,181,112,1) 100%);
	outline: 0;
}
.close-search-form {
	position: absolute;
	top: 50px;
	right: 50px;
	background-color: white;
	height: 50px;
	width: 50px;
	line-height: 50px;
	cursor: pointer;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.close-search-form:hover {
	opacity: .7
}


/*== == service-wrapper-style == == */
.service-wrapper {
	position: relative;
}
.service-wrapper::after {
	position: absolute;
	content: "";
	height: 280px;
	width: 280px;
	background-image: url(../img/poly-lg.png);
	background-repeat: no-repeat;
	background-position: center;
	left: -140px;
	top: calc(50% - 140px);
	pointer-events: none;
	z-index: -1;
  -webkit-animation: rotating 120s linear infinite;
  -moz-animation: rotating 120s linear infinite;
  -ms-animation: rotating 120s linear infinite;
  -o-animation: rotating 120s linear infinite;
  animation: rotating 120s linear infinite;

}
.service-wrapper .wrapper-heding {
	margin-bottom: 115px;
	position: relative;
}
.service-wrapper .wrapper-heding::after {
	position: absolute;
	content: "";
	height: 75px;
	width: 75px;
	background-image: url(../img/poly-sm.png);
	background-repeat: no-repeat;
	background-position: center;
	right: -200px;
	z-index: -1;
	pointer-events: none;
  -webkit-animation: rotating 60s linear infinite;
  -moz-animation: rotating 60s linear infinite;
  -ms-animation: rotating 60s linear infinite;
  -o-animation: rotating 60s linear infinite;
  animation: rotating 60s linear infinite;
}
.service-wrapper .row {
	margin-right: -35px;
	margin-left: -35px;
}
.service-col {
	padding: 0 35px;
}
.service-item {
	padding: 40px 50px;
	background-color: #fff;
	border-radius: 25px;
	box-shadow: 0 15px 50px #eae6e6;
}
.service-item img {
  width: 60px;
  margin-bottom: 35px;
}
.service-item h6 {
	font-size: 22px;
	font-weight: 700;
	color: #000;
	margin-bottom: 30px;
}
.service-item p {
  font-size: 25px;
  color: #717171;
}
.service-wrapper .minilab-btn {
	margin-top: 140px;
}
.service-item.active {
	color: #fff;
	background: rgb(255, 109, 110);
	background: linear-gradient(140deg, rgba(255,109,110,1) 0%, rgba(255,181,112,1) 100%);
}
.service-item.active h6,
.service-item.active p {
	color: #fff;
}


/*== == how-we-work-wrapper-style == == */
.how-we-work-wrapper {
	position: relative;
}
.how-we-work-wrapper::after {
	position: absolute;
	content: "";
	height: 75px;
	width: 75px;
	background-image: url(../img/poly-sm.png);
	background-repeat: no-repeat;
	background-position: center;
	left: 180px;
	pointer-events: none;
	top: 180px;
}
.how-we-work-wrapper::before {
	position: absolute;
	content: "";
	height: 75px;
	width: 75px;
	background-image: url(../img/poly-sm.png);
	background-repeat: no-repeat;
	background-position: center;
	bottom: -50px;
	pointer-events: none;
	right: 180px;
}
.how-we-work-vdo-pop {
	position: relative;
}
.how-we-work-vdo-pop a {
	display: block;
}
.how-we-work-vdo-pop::after {
	position: absolute;
	content: "";
	height: 190px;
	width: 190px;
	background-image: url(../img/play-icon.png);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	pointer-events: none;
}
.how-we-work-vdo-pop:hover::after {
	height: 180px;
	width: 180px;
}
.how-we-work-vdo-pop img {
	border-radius: 30px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.how-we-work-vdo-pop:hover img {
	opacity: .8;
}
.how-we-work-context {
	padding-left: 110px;
}
.how-we-work-context .wrapper-heding {
	text-align: left;
}
.how-we-work-context p {
	font-size: 23px;
	margin-top: 45px;
	margin-bottom: 50px;
}
.mfp-fade.mfp-bg {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.9;
	background: rgb(210, 68, 69);
	background: linear-gradient(100deg, rgb(210, 68, 69) 0%, rgb(159, 99, 45) 100%);
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}


/*== == testimonial-wrapper-style == == */
.testimonial-wrapper {
  overflow: hidden;
	position: relative;
}
.testimonial-wrapper::after {
	position: absolute;
	content: "";
	height: 280px;
	width: 280px;
	background-image: url(../img/poly-lg.png);
	background-repeat: no-repeat;
	background-position: center;
	right: -140px;
	top: 0;
	pointer-events: none;
	z-index: -1;
  -webkit-animation: rotating 120s linear infinite;
  -moz-animation: rotating 120s linear infinite;
  -ms-animation: rotating 120s linear infinite;
  -o-animation: rotating 120s linear infinite;
  animation: rotating 120s linear infinite;
}
.testimonial-carousel {
  position: relative;
}
.testimonial-carousel::after {
	position: absolute;
	content: "";
	height: 120%;
	width: 10000px;
	left: -10040px;
	top: -8%;
	background: #fff;
	z-index: 2;
	pointer-events: none;
}
.testimonial-wrapper .owl-carousel .owl-stage-outer {
	 overflow: initial !important;
}
.testimonial-wrapper .wrapper-heding {
	margin-bottom: 140px;
}
.testimonial-context {
	position: relative;
	z-index: 2;
}
.testimonial-context::before {
	position: absolute;
	content: "";
	height: 75px;
	width: 75px;
	background-image: url(../img/poly-sm.png);
	background-repeat: no-repeat;
	background-position: center;
	bottom: -85px;
	pointer-events: none;
	left: -120px;
  -webkit-animation: rotating 60s linear infinite;
  -moz-animation: rotating 60s linear infinite;
  -ms-animation: rotating 60s linear infinite;
  -o-animation: rotating 60s linear infinite;
  animation: rotating 60s linear infinite;
}
.testimonial-context p {
	font-size: 23px;
	color: #717171;
	margin-bottom: 60px;
	padding-right: 45px;
}
.testimonial-item {
	padding: 50px 55px;
	background-color: #fff;
	box-shadow: -7px 15px 50px -10px #eae6e6;
	border-radius: 25px;
}
.testimonial-item img {
  height: 70px !important;
  width: 70px !important;
  margin-bottom: 35px;
}
.testimonial-item h5 {
  font-size: 20px;
  margin-bottom: 35px;
  font-weight: 700;
	background: -webkit-linear-gradient(90deg, rgba(255,181,112,1), rgba(255,109,110,1) 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.testimonial-item p {
  font-size: 25px;
  color: #717171;
}
.testimonial-carousel .owl-dots {
	margin-top: 30px;
	margin-left: 20px;
}
.testimonial-carousel .owl-dots button {
	height: 15px;
	width: 15px;
	background-color: #c6c6c6 !important;
	border-radius: 50px;
	margin-right: 15px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	outline: 0;
}
.testimonial-carousel .owl-dots button.active {
	width: 25px;
	background: rgb(255, 109, 110) !important;
}


/*== == news-letter-wrapper-style == == */
.news-letter-wrapper {
	position: relative;
}
.news-letter-wrapper::after {
	position: absolute;
	content: "";
	height: 280px;
	width: 280px;
	background-image: url(../img/poly-lg.png);
	background-repeat: no-repeat;
	background-position: center;
	left: -180px;
	top: 0;
	pointer-events: none;
	z-index: -1;
}
.news-letter-wrapper::before {
	position: absolute;
	content: "";
	height: 280px;
	width: 280px;
	background-image: url(../img/poly-lg.png);
	background-repeat: no-repeat;
	background-position: center;
	right: -140px;
	bottom: -180px;
	pointer-events: none;
  -webkit-animation: rotating 60s linear infinite;
  -moz-animation: rotating 60s linear infinite;
  -ms-animation: rotating 60s linear infinite;
  -o-animation: rotating 60s linear infinite;
  animation: rotating 60s linear infinite;
}
.news-letter-wrapper .wrapper-heding {
	margin-bottom: 140px;
}
.news-letter-wrapper form {
	position: relative;
}
.news-letter-wrapper form::before {
	position: absolute;
	content: "";
	height: 75px;
	width: 75px;
	background-image: url(../img/poly-sm.png);
	background-repeat: no-repeat;
	background-position: center;
	bottom: -140px;
	pointer-events: none;
	left: -170px;
  -webkit-animation: rotating 60s linear infinite;
  -moz-animation: rotating 60s linear infinite;
  -ms-animation: rotating 60s linear infinite;
  -o-animation: rotating 60s linear infinite;
  animation: rotating 60s linear infinite;
}
.news-letter-wrapper input {
	height: 80px;
	border: 0;
	outline: 0;
	box-shadow: 0 16px 15px -5px #ddd;
	padding: 0 85px;
	border-radius: 50px;
	width: 90%;
	font-size: 20px;
	font-weight: 700;
}
.news-letter-wrapper input::-webkit-input-placeholder {
	color: rgba(255,109,110,1);
	opacity: 1;
}
.news-letter-wrapper input::-moz-placeholder {
	color: rgba(255,109,110,1);
	opacity: 1;
}
.news-letter-wrapper input:-ms-input-placeholder {
	color: rgba(255,109,110,1);
	opacity: 1;
}
.news-letter-wrapper input:-moz-placeholder {
	color: rgba(255,109,110,1);
	opacity: 1;
}
.news-letter-wrapper .send-btn {
	border: 0;
	outline: 0;
	height: 80px;
	padding: 0 70px;
	border-radius: 70px;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	background-position: center;
	background: rgb(255, 109, 110);
	background: linear-gradient(100deg, rgba(255,109,110,1) 0%, rgba(255,181,112,1) 100%);
}
.news-letter-wrapper .send-btn:hover {
	-webkit-background-size: 200%;
	background-size: 200%;
}


/*== == footer-wrapper-style == == */
.footer-wrapper {
	padding: 120px 0;
	margin-top: 320px;
	background: rgb(255, 109, 110);
	background: linear-gradient(100deg, rgba(255,109,110,1) 0%, rgba(255,181,112,1) 100%);
}
.footer-logo {
	text-align: center;
	margin-bottom: 120px;
}
.footer-links {
  color: #fff;
}
.footer-links h4 {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.footer-links ul {
	list-style: none;
	margin: 0;
}
.footer-links a {
	color: #fff;
	font-size: 24px;
	margin-bottom: 10px;
	display: inline-block;
	word-break: break-word;
}
.footer-links li:last-child a {
	margin-bottom: 0;
}
.footer-links a:hover {
	opacity: .6;
}
.footer-links .email {
	font-weight: 300;
}
.social-links {
	margin-top: 30px;
}
.social-links a {
	margin-right: 25px;
	margin-bottom: 0;
}
.footer-links a:last-child {
	margin-right: 0;
}
.social-links a:hover {
	opacity: .6;
}